<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="false">
<parameter name="username" value="1927538"></parameter>
<parameter name="password" value="TCS#1234"></parameter>
  <test name="Test">
  <classes>
  
   <class name="maven_project.annotations"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
